/* .event-container{ 
    width: 80vw;
    margin: 5% 10%; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; 
    } */

/* #submit-form{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(227, 227, 227);
    width:75%;
    text-align: center;
    border-radius: 10px;
}  */

/* 
.event-form{
    width:90%;
}
#submit-form{
    width:80%;
    padding:5%;
    margin: 0 auto;

} */
/* 
#submit-form > label{
    padding-left: 10px;
    display: block;
    font-size: 1.25rem;
    text-align: left;
    margin-bottom: 0.5rem;
}

#submit-form > input{
    display: block;
    width:80%;
    margin-bottom: 1rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: azure;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#submit-form >input:focus{
    border-color: aquamarine;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 25);
}

#submit-button.disabled{
    background-color: grey;
    color: white;
    border: none;
    padding: 10px, 20px;
}

#submit-button.enabled{
    background-color: green;
    color: white;
    cursor: pointer;
}
*/
.create-page-image{
    margin-top: 3rem;
    width:100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;    

} 
/* html,body{
    background-color: white !important;
} */
.event-page-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
}

label{
    color:rgb(8, 8, 8);
}

.form-group{
    margin-bottom: 1rem;
}

.form-group label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea{
    width:85%;
    padding:0.5rem;
    border:1px solid;
    border-radius:4px;
    font-size:1rem;
}

.form-check{
    margin-bottom:0.25rem;
}

.form-check-label{
    display:inline !important;
    margin-left: 0.25rem;
}
#eventText{
    margin-top: 20%;
    height: 50%;
    background-color: #0142f3;
    margin-left: 15%;
    padding: 10%;
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    
}
#eventText:hover {
    transform: scale(1.05); /* 鼠标悬停时放大方框 */
    transition: transform 0.3s ease; /* 添加平滑过渡效果 */
}
#eventText h3{
    color:azure;
}
#eventText p{
    color:white;
}
#eventForm{
    margin-right: 5%;
    margin-bottom: 10%;
    padding: 5% 0 5% 5%;
    background-color: rgb(196, 233, 251);
    margin-left: 10%;
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 8px;
}

.btn{
    padding:1vh 1vw;
    cursor:pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    font-size: 1em;
}

.btn-primary{
    margin-top: 5%;
    background-color: #0142f3;
    color:white;
}

.btn-primary:hover{
    background-color: white;
    color: rgb(133, 24, 24);
}

#photo-file-input-label{
    width:50%;
    padding:1vw;
    background-color: #0142f3;
    color:white;
    cursor:pointer;
    border:grey;
    border-style:solid;
    border-radius:4px;
    transition:background-color 0.2s ease;
}

#photo-file-input-label:hover{
    background-color:rgb(225, 225, 225);
    color:rgb(170, 29, 29);
}

#photo-file-input{
    display:none;
}