html,body {
    background-color: rgb(196, 233, 251);
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
   }
h1,h2{
    color: rgb(7, 7, 7);
   }

p{
    color:#060606;
    text-align:left;
    font-size: 1.1rem;
   }

.grid-container { 
display: grid;
grid-template-columns: auto auto auto auto;
grid-template-rows: auto; 
}

.brand {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: #0142f3; /* new line – just copy and paste this line */
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    }
    .page-links {
    grid-column: 3 / span 2;
    grid-row: 1;
    text-align: right;
    background-color: #0142f3; /* new line – just copy and paste this line */
    padding: 10px;
    }

/* .title-bg {
    background-color: yellow;
    position: absolute;
    
}  */
.welcome-band{
    /* margin:0 10% auto 10%; */
    background-color:white;
    text-align: center;
    /*textalign和整体的这个element */
}
.welcome-band>h1{
    padding-top: 3%;
}
.welcome-band>p{
    margin:auto 10% auto 10%;
    padding-bottom: 2%;
}

.main{
    /* width:75vw; */
    /* margin:0 auto; */
}
.menu-button { font-size: 20px;
    color: white; background-color: #0142f3; padding: 2px 20px; border-style: solid; border-radius: 5px; border-color: white;
    }

.menu-button:hover {
    text-decoration: underline;
}    
.home_splash{
    width:100%;
    height:auto;
    object-fit: cover;
}

figcaption{
    color: grey;
    font-weight: 100;;
}
/* 添加搜索板块，点进去图片可以跳转到搜索页面 */


img {
    max-width: 100%; /* 图片不超出容器宽度 */
    height: auto; /* 高度自动调整以保持纵横比 */
}

#create-page-pic{
    width:100%;
    height: auto;
}

.main-page-container{
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto auto auto; 
    width:75vw;
}
#main-page-text1{

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row:1;
    text-align: left;
    /* 这里用span还是column start? */
}

#main-page-text2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row:2;

    padding-right: 5%;

    text-align: left;
    /* 这里用span还是column start? */
}

.main-page-button{
    width: 50%;
    text-decoration: none;
    text-align: center;
}

.main-page-image{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 4;
    /* 这里用span还是column start? */
}

.bg-white {
    background-color: white !important;
}

.row {
    width: 75vw;
    margin: 0 auto;
}

/* .w-100 {
    width: 100%;
} */

.hover-underline:hover {
    text-decoration: underline; 
}

.events {
    padding-left: 10%;
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 3% 10% 3% 10%;
    padding: 37px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.events img {
    width: 100px; /* 调整图片的宽度，根据需要进行修改 */
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.events h3 {
    display: block;
    font-size: 1.2rem;
    margin: 0;
}

.events p {
    display: block;
    font-size: 1rem;
}

#session-title{
    margin-top: 2%;
    margin-bottom: 2%; 
    font-size: 1.5rem; 
    margin-left: 10%;
}
